*{
  box-sizing:border-box;
}

img{
display:block;
max-width:100%;
object-fit:cover;
height:auto; 
filter: drop-shadow(0px 10px 25px rgba(44, 39, 39, 0.15));
border-radius:20px 20px 0 0;
}

body{
font-family:"Tenor Sans", "Arial",sans-serif;
color: #242424;
margin:0;
padding:0
}

.card{
width: 370px;
background: #FFFFFF;
box-shadow: 0px 10px 25px 0px #2C272726;
text-align: center;
border-radius:20px;
  /*закругления углов не работает не знаю почему*/
  
}
.card__inner{
 background: #FFFFFF;
 padding: 30px 55px;
}
.card__img{
  width:100%;
  height: 220px;
}

.card__text{
font-weight: 400;
font-size: 15px;
line-height: 20px;
text-align: center;
margin:0;  
color: #C21717;
margin:0 0 10px;
}

.card__title{
width:260px;
height:56px;
margin:0; 
font-weight: 400;
font-size: 24px;
line-height: 28px;
text-align: center;
margin-right:auto;
margin-left:auto;
margin:0 0 34px;
  
}

.pizza__link{
font-weight: 400;
font-size: 15px;
line-height: 20px;
text-decoration-line: underline;
color: #242424;
text-align: center;
margin: 0 0 30px;
}

.banner {
  width: 1200px;
  height: 400px;

  background-image:
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("https://i.ibb.co/27BpgY7S/97bc13f4a167072f9627ffe71ff81c1d.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  text-align: center;
  margin: 100px auto;
  border-radius: 20px;
  padding: 92px 20px;
  border-left: 10px solid #C21717;
}

.banner__food{
width: 503px;
height: 40px;
font-weight: 400;
font-size: 34px;
line-height: 40px;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
margin:0 auto 20px;
}

.banner__home{
width:440px ;
height:66px;
font-weight: 400;
font-size: 15px;
line-height: 22px;
text-align: center;
color: #FFFFFF;
margin: 0 auto 35px;
}

.banner__link{
font-weight: 400;
font-size: 15px;
line-height: 20px;
color: #FFFFFF;
width: 220px;
height: 56px;
background: #C21717;
border-radius: 60px;
text-align: center;
display:block;
padding:18px ;
margin: 0 auto 91px;
}
